<div class="group rounded-b-lg hover:scale-105 transition-all shadow-xl">
    <h6 class="bg-green-300 rounded-t-lg px-2 py-3 text-center transition-all group-hover:bg-green-500 group-hover:text-white">PIMER SEMESTRE</h6>
    <div class="py-4 px-8 bg-green-100 group-hover:bg-green-200">
        <p class="py-1 hover:scale-105 hover:text-green-800 transition-all">Gestión básica de la información</p>
        <p class="py-1 hover:scale-105 hover:text-green-800 transition-all">Comunicación escrita y procesos lectores</p>
        <p class="py-1 hover:scale-105 hover:text-green-800 transition-all">Fundamentos y perspectivas de la educación</p>
        <p class="py-1 hover:scale-105 hover:text-green-800 transition-all">Identidad del maestro</p>
        <p class="py-1 hover:scale-105 hover:text-green-800 transition-all">Proyecto de vida</p>
        <p class="py-1 hover:scale-105 hover:text-green-800 transition-all">Introducción english A1</p>
        <p class="py-1 hover:scale-105 hover:text-green-800 transition-all">English phonetics and phonology I</p>
    </div>
</div>