<div class="flex flex-col xl:flex-row justify-between gap-6 mt-10 mx-4 xl:mx-20">
    <h6 class="font-semibold text-2xl">Crear pensum</h6>
    <button (click)="modalCrearPensum()" class="bg-blue-800 text-white rounded hover:bg-blue-800 transition-all px-3 py-2">Crear pensum</button>
</div>

@if (activarCrearPensum) {
    <div>
        <form class="mt-6 px-4 xl:px-0 flex flex-wrap gap-4 mx-4 xl:mx-20" [formGroup]="pensumForm" autocomplete="off" (submit)="crearPensum()">
            <input type="text" formControlName="_id" hidden>
            <div class="relative w-full xl:w-auto z-0 mb-5 group">
                <input type="text" formControlName="nombre" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder="" required />
                <label class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
                @if(pensumForm.get('nombre')?.touched && pensumForm.get('nombre')?.hasError('required') || (pensumForm.get('nombre')?.value == '')){
                    <span class="text-xs text-red-700">Este campo es obligatorio</span>
                }
            </div>
            <div class="relative w-full xl:w-auto z-0 mb-5 group">
                <input type="text" formControlName="facultad" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="facultad" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Facultad</label>
                @if(pensumForm.get('facultad')?.touched && pensumForm.get('facultad')?.hasError('required') || (pensumForm.get('facultad')?.value == '')){
                    <span class="text-xs text-red-700">Este campo es obligatorio</span>
                }
            </div>
            <div class="relative w-full xl:w-auto z-0 mb-5 group">
                <input type="text" formControlName="idPensum" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
                <label for="idPensum" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">ID Pensum</label>
                @if(pensumForm.get('idPensum')?.touched && pensumForm.get('idPensum')?.hasError('required') || (pensumForm.get('idPensum')?.value == '')){
                    <span class="text-xs text-red-700">Este campo es obligatorio</span>
                }
            </div>
            <div class="relative w-full xl:w-52 z-0 mb-5 group">
                <select type="number" formControlName="semestresTotales" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer p-2" placeholder=" " required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <label class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Total de semestres</label>
                @if(pensumForm.get('semestresTotales')?.touched && pensumForm.get('semestresTotales')?.hasError('required') || (pensumForm.get('semestresTotales')?.value == '')){
                    <span class="text-xs text-red-700">Este campo es obligatorio</span>
                }
            </div>
            <div class="relative w-full xl:w-auto z-0 mb-5 group">
                <input formControlName="creditosTotales" type="number" class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />
                <label for="creditosTotales" class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Creditos</label>
                @if(pensumForm.get('creditosTotales')?.touched && pensumForm.get('creditosTotales')?.hasError('required') || (pensumForm.get('creditosTotales')?.value == '')){
                    <span class="text-xs text-red-700">Este campo es obligatorio</span>
                }
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Crear</button>
        </form>
    </div>
}

<section class="m-4">
    <div class="relative overflow-x-auto shadow-md mx-4 sm:rounded-lg xl:mx-20">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Facultad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        ID Pensum
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total de semestres
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Total de creditos
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Acción
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (pensum of pensums; track $index) {
                <tr class="bg-white border-b">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <button (click)="verPensum(pensum)" class="bg-orange-600 text-white rounded px-8 py-1 hover:scale-105 hover:bg-orange-700 transition-all">Ver</button>
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ pensum.nombre }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ pensum.facultad }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ pensum.idPensum }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ pensum.semestresTotales }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ pensum.creditosTotales }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        <div class="flex gap-2">
                            <button (click)="editarPensum(pensum)" class="bg-green-700 text-white rounded px-2 py-1">Editar</button>
                            <button (click)="eliminarPensum(pensum)" class="bg-red-600 text-white rounded px-2 py-1">Eliminar</button>
                        </div>
                    </th>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>

